n8n-flows/post-call-automation.json
{
  "name": "Post-Call Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "post-call",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "post-call-automation"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "call_id": "={{ $json.call_id }}",
            "phone_number": "={{ $json.phone_number }}",
            "first_name": "={{ $json.first_name }}",
            "last_name": "={{ $json.last_name }}",
            "company": "={{ $json.company }}",
            "call_outcome": "={{ $json.call_outcome }}",
            "lead_temperature": "={{ $json.lead_temperature }}",
            "sentiment": "={{ $json.sentiment }}",
            "summary": "={{ $json.summary }}",
            "callback_time": "={{ $json.callback_time }}",
            "logged_at": "={{ new Date().toISOString() }}"
          }
        },
        "options": {
          "valueInputMode": "USER_ENTERED"
        }
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "sms-cond-1",
              "leftValue": "={{ $json.call_outcome }}",
              "rightValue": "interested",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "sms-cond-2",
              "leftValue": "={{ $json.call_outcome }}",
              "rightValue": "callback_requested",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "any"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Should SMS?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telnyx.com/v2/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.TELNYX_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $env.TELNYX_FROM_NUMBER }}\",\n  \"to\": \"{{ $json.phone_number }}\",\n  \"text\": \"Hi {{ $json.first_name }}, thanks for speaking with us today. {{ $json.next_action }}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Send SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 80]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cal-cond-1",
              "leftValue": "={{ $json.callback_requested }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            },
            {
              "id": "cal-cond-2",
              "leftValue": "={{ $json.callback_time }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "all"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Should book?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 420]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_CALENDAR_ID }}",
          "mode": "id"
        },
        "start": "={{ $json.callback_time }}",
        "end": "={{ DateTime.fromISO($json.callback_time).plus({minutes: 30}).toISO() }}",
        "additionalFields": {
          "summary": "=Callback: {{ $json.first_name }} {{ $json.last_name }}",
          "description": "=Company: {{ $json.company }}\n\n{{ $json.summary }}\n\nNext action: {{ $json.next_action }}"
        }
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [900, 500],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Log to Sheets", "type": "main", "index": 0 }
        ]
      ]
    },
    "Log to Sheets": {
      "main": [
        [
          { "node": "Should SMS?", "type": "main", "index": 0 },
          { "node": "Should book?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Should SMS?": {
      "main": [
        [{ "node": "Send SMS", "type": "main", "index": 0 }],
        []
      ]
    },
    "Should book?": {
      "main": [
        [{ "node": "Create Calendar Event", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "voice-outbound-agent"
  },
  "id": "post-call-automation-v1",
  "versionId": "2026-05-09"
}
